* {
  margin: 0;
  padding: 0;
}
body {
  padding: 15px 25px;
  border: 4px solid #ffc6e5;
  border-radius: 10px;
  border-bottom-color: #a0cfee;
  border-right-color: #a0cfee;
  padding: 20px;
  margin: 100px auto;
  max-width: 800px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}

.name {
  padding: 5px;
  border-radius: 5px;
  margin: 3px;
  cursor: pointer;
}

.female {
  background: #ffc6e5;
  color: #940050;
}

.male {
  background: #a0cfee;
  color: #16527a;
}

.controlBar {
  display: Flex;
}
.genderButtons {
  margin: 3px;
  display: flex;
  align-items: center;
}

.maleChooser::before {
  background: #a0cfee;
  content: "\01F423";
}
.femaleChooser::before {
  background: #ffc6e5;
  content: "\01F424";
}
.anyChooser::before {
  background: #dddddd;
  content: "\01F425";
}

.chooser::before {
  padding: 5px;
  border-radius: 3px;
  margin: 2px;
  cursor: pointer;
  font-size: 120%;
}

.chooser.selected::before {
  border-bottom: 2px solid black;
}

.favourites {
  margin: 30px auto;
  width: 90%;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #dddddd;
}
.favourites span {
  font-size: 1.4rem;
  color: #aaa;
  margin-right: 10px;
}

footer {
  border-top: 2px solid #dddddd;
  color: #dddddd;
  margin: 0 auto;
  margin-top: 50px;
  width: 80%;
  text-align: center;
}

input {
  border: 1px solid #dddddd;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
}
