body {
  font-family: "Press Start 2P", sans-serif;
  padding: 15px 25px;
  border: 2px solid lightskyblue;
  margin: 100px auto;
  max-width: 800px;
}
h1,
h2 {
  text-align: center;
  color: lightskyblue;
  transform: perspective(70px) rotateX(20deg) translateY(2px) scale(1.001);
}
.country-scores {
  border: 20px solid greenyellow;
  padding: 20px 10px;
  margin-bottom: 20px;
}
p span {
  padding: 10px;
  text-align: right;
}
span {
  width: 100%;
}
.score {
  color: brown;
  font-size: 1.5rem;
}
p {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  display: flex;
}
.scores {
  border: 2px solid black;
  padding: 5px 5px;
}
.playerName {
  text-transform: uppercase;
}
